<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Project</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=REM:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <a href="/">
                <li>
                    Home
                </li>
            </a>
            <a href="/dashboard">
                <li>
                    Dashboard
                </li>
            </a>
            <a href="#" id="logout">
                <li>
                    Logout
                </li>
            </a>
        </ul>
    </nav>
    <h1>Nick's Blog Site</h1>
    <section>
        {{{body}}}
    </section>
    <script src="/js/logout.js"></script>
</body>
</html>