<form id="post-submission-form">
    <h2>
        Post Title
    </h2>
    <textarea name="title" id="title" cols="30" rows="1"></textarea>
    <h2>
        Post Contents
    </h2>
    <textarea name="contents" id="contents" cols="30" rows="10"></textarea>
    <button type="submit">Submit Post</button>
</form>
<script src="/js/dashboard.js"></script>