<div id="post-id" data-id="{{post.id}}"></div>

<h1>
    Title
</h1>
<textarea name="title" id="title" cols="30" rows="1">{{post.title}}</textarea>
<h1>
    Contents
</h1>
<textarea name="contents" id="contents" cols="30" rows="10">{{post.contents}}</textarea>
<button id="save">Save</button>
<button id="delete">Delete Post</button>
<script src="/js/edit.js"></script>